* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: sans-serif;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: url("images/colourful-math-numbers-.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.content {
    margin-top: 170px;
    margin-bottom: 150px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.content div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.calculator {
    margin: auto;
    width: 400px;
    border-radius: 15px;
    padding: 20px;
    border-color: #f622a8;

}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: transparent;
    text-align: right;
    font-size: larger;
    border: 2px solid #f622a8;
    border-radius: 10px;
    outline: none;
}

input::placeholder {
    color: #f622a8;
}


.theme-toggler.active {
    color: #333333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    overflow-x: scroll;
}

button#equal {
    height: 130px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    background-color: #f795d4;
    color: #ffffff;
}

.equal {
    width: 144px;
    margin-left: 25px;
    color: #fff;
    background-color: #f795d4;
}

.clear {
    background: #ea1988;
}

.dot {
    margin-left: 20px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: #f622a8;
}

button#equal {
    height: 130px;
}